@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

#container4{
  width: 1500px;
  height: 200px;
  margin: 0 auto;

}
#uldiv{
  width: 1500px;
  height: 50px;
  border-bottom: 1px solid #ccc;
  line-height: 50px;
}

#uldiv>ul{
  margin-left: 350px;
  list-style: none;
}
#uldiv>ul>li{
  float: left;
  margin-right: 100px;
}
#uldiv>ul>li>a{
  font-family: 'Gamja Flower', cursive;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

#company{
  float: left;
  width: 500px;
  height: 145px;
  margin-left: 50px;
}

#company>p{
  font-size: 12px;
  margin-left: 15px;
  color: rgb(97, 94, 94);
}

#company>p:first-child{
  font-size: 15px;
  color: black;
}

#costomer{
  float: left;
  width: 250px;
  height: 145px;
}

#costomer>p{
  font-size: 12px;
  margin-left: 15px;
  color: rgb(97, 94, 94);
}

#costomer>p:first-child{
  font-size: 15px;
  color: black;
}

#bank{
  float: left;
  width: 250px;
  height: 145px;
  margin-left:20px;
}

#bank>p{
  font-size: 12px;
  margin-left: 15px;
  color: rgb(97, 94, 94);
}

#bank>p:first-child{
  font-size: 15px;
  color: black;
}

#etc{
  float: left;
  width: 200px;
  height: 145px;
  margin-left:70px;
}

#etc>p:first-child{
  font-size: 15px;
  color: black;
}

#etc>p{
  font-size: 12px;
  margin-left: 15px;
  color: rgb(97, 94, 94);
}

#etc>p:first-child{
  font-size: 15px;
  color: black;
}