@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap')
	;

#hdcontainer {

	width: 1500px;
	height: 150px;
	margin: 0 auto;
}

header {
	width: 100%;
	height: 150px;
}

header>a>img {
	height: 120px;
	float: left;
	margin-top: 20px;
	margin-left: 50px;
}

#search {
	float: left;
	width: 300px;
	height: 35px;
	margin-left: 170px;
	margin-top: 50px;
	border-radius: 15px;
	border: 1px solid black;
}

#searchbtn {
	float: left;
	margin-top: 60px;
	margin-left: 5px; border : none;
	background-color: white;
	cursor: pointer;
	border: none;
}

nav {
	float: right;
	width: 900px;
}

#topMenu {
	/* height: 100px; */
	margin-left: 150px;
}

#topMenu>li {
	float: left;
	margin-top: -70px;
	margin-left: 80px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

#topMenu>li>a {
	display: block;
	color: #222;
	font-weight: 900;
	padding: 20px 0px;
	font-family: 'Gamja Flower', cursive;
	font-size: 25px;
}

#topMenu>li>a:hover {
	color: #bbb;
	text-shadow: 0 -1px #eee;
}

#hdcontainer2 {

	margin: 0 auto;
	width: 1500px;
	height: 60px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#topMenu2 {
	width: 1500px;
	height: 50px;
}

#topMenu2>li {
	width: 150px;
	height: 50px;
	float: left;

	margin-left:90px;
}

#topMenu2>li>a {
	text-align:center;
	font-family: 'Gamja Flower', cursive;
	font-size: 25px;
	font-weight: bold;
}

#topMenu2>li>a:hover {
	color: #bbb;
	text-shadow: 0 -1px #eee;
}